 .fortuneTeller-container{
    height: 95vh;
    width: 100%;
    padding-top: 10rem;
    background:rgba(162, 142, 162, 0.369);
    /* put backgroundhere */
}

 .fortuneTeller-title{
  width: 100%;

   text-align: center; 
}  



.card-row {
   
  display: flex;
   
  margin-top: 20px; 
  }
  
  .card {
    width: 100px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .selected-card {
    margin-top: 20px;
    text-align: center;
  }
  
  .selected-card img {
    width: 200px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    margin-bottom: 10px;
  }
  