body {
    line-height: 1.6;
    color: #030303;
    /* background-image: url("C:\Users\aleja\websites\Terot\TerotFortuneTeller\frontend\src\images\neptuneboy666_blue_marble_and_wood_magic_tarot_squares_planets__652fcaa9-9a94-4f57-85e5-da8a0665944c.png"); */
    margin: 0;
    padding: 0;
    font-size: 20px;
} 

.about-background {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(54, 152, 201, 0.767);
    border-radius: 4px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
    padding-top: 20px;
    margin-bottom: 70px;
    padding-bottom: 20px;
}

h1,
h3,
h4 {
    color: rgba(215, 214, 214, 0.806);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 5px;
}

p {
    margin-bottom: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}